header{
    width: 80%;
    margin: 0 auto;
    height: 30px;
    border: 2px solid black;
    padding-top: 8px;
    text-align: center;
    }

.main-container{
    width: 80%;
    margin: 0 auto;
    height: 730px;
    border-left:2px solid black;
    border-right:2px solid black;
    text-align: center;
}


.page_name{
    padding-left: 10%;
    font-weight:600;
}

.left{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-right: 1%;
    height: 550px;
    text-align: left;
    }

.account_item{
    padding-left: 50%;
    padding-top: 30px;  
}

.left p{
    margin: 22px 0px;
}

.right{
    float: left;
    width: 40%;
    height: 550px;
    margin-bottom: 40px;
    padding-top: 58px;
    text-align: left;
    }

.right p{
    padding-left: 20px;
}

.right select{
    height: 30px;
    width: 85px;
    border: 3px solid;
}

.right .text{
    height: 22px;
    border: 3px solid;
}

.submit{
    width: 80%;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    width: 200px;
    height: 50px;
}

footer{
    clear: left;
    width: 80%;
    margin: 0 auto;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    }

.confirm p{
    padding-top: 6px;
}

.confirm_button{
    text-align: center;
}

.confirm_button .button_1{
    display: inline-block;
}

.buck{
    margin-right: 80px;
}

.left_1{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-right: 1%;
    height: auto;
    text-align: left;
    }

.right_1{
    float: left;
    width: 40%;
    height: auto;
    margin-bottom: 40px;
    padding-top: 58px;
    text-align: left;
    }

.center{
    clear: left;
    padding-top: 150px;
    text-align: center;
}

.kanryo{
    font-size: 25px;
    font-weight:600;
}

.center input{
    background-color: white;
    margin-top: 350px;
    width: 200px;
    height: 50px;
}



span.error_m{
    font-size: 15px;
    font-weight: normal;
    color: red;
    display: block;
    margin: 0;
}