header{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
}

.page_name{
    font-weight:600;
}

main{
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.main_container{
    width: 80%;
    margin: 0 auto;

}

table{
    margin: 0 auto;
}
.text{
    margin-left: 10px;
    height: 1.5em;
    width: 20em;
    border: 3px solid;
}
.textmin{
    height: 1.5em;
    width: 7em;
    border: 3px solid;
}
.textpull{
    height: 2em;
    width: 7.7em;
    border: 3px solid;
}

.submit{
    background-color: white;
    width: 200px;
    height: 50px;
}
.submit_box{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.ok{
    margin-left: 30px;
}

.kanryo{
    text-align: center;
    font-size: 25px;
    font-weight:600;
    margin-top: 300px;
    margin-bottom: 400px;
}
.er{
    color: red;
}

footer{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
}

/*リストCSS*/
.list{
    width: 90%;
}
.list_container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.list table{
    margin-top: 60px;
}

.search{
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    font-size: 1em;
    text-align:center;
}
.search_item{
    text-align:center;
}
.color{
    background-color: white;
}
.searbotton{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 20%;
    box-sizing: border-box;
    margin-left: 80%;
}

/*ログイン*/
.login_form{
    padding-top: 200px;
    padding-bottom: 50px;
}

.login_container{
    width: 80%;
    height: 800px;
    margin: 0 auto;
}
.comment{
    color: red;
    font-weight:600;
}
a{
    text-decoration:none;
    font-size: 13px;
    border: 2px solid black;
    padding: 20px 50px 20px 50px;
}
.login{
    padding-bottom: 1em;
}